{{ define "main" }}
<main>
  <article class="post container">
    <header class="post-header">
      <h1>{{ .Title }}</h1>
      <p class="date">{{ .Date | time.Format ":date_medium" }}</p>
      {{ if .Params.description }}<p class="lead">{{ .Params.description }}</p>{{ end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <footer class="post-footer">
      <p><a href="{{ (site.GetPage "blog").RelPermalink }}">{{ i18n "back_to_blog" }}</a></p>
    </footer>
  </article>
</main>
{{ end }}
